@use '../../styles/variables'
@use '../../styles/mixins'

.containerResult
    @include mixins.widthAndHeight(100%, 100%)
    background-repeat: no-repeat
    background-color: variables.$bg-result
    background-blend-mode: screen

