@use '../../styles/mixins'
@use '../../styles/variables'

header
    @include mixins.widthAndHeight(100%, auto)

.iconContainer
    @include mixins.widthAndHeight(100%, auto)
    @include mixins.flexContent(flex, flex-end, flex-start)

    .icon
        font-size: 50px

.links
    display: none

    a
        list-style: none
        color: black
        font-family: 'Nunito Sans', sans-serif

        li
            padding-block: 10px
            border-block: 1px solid black
            text-align: center

.show
    display: block // Mostra o menu quando a classe 'show' for aplicada

.logoMin
    height: 130px

@media (width >= 903px)
    .container
        height: 130px
        background-color: variables.$bg-golden1
        @include mixins.flexContent(flex, space-around, center)

    .iconContainer
        display: none

    .links
        @include mixins.flexContent(flex, flex-end, center)

        a
            li
                font-weight: bold
                color: variables.$white
                margin-inline: 20px
                font-size: 30px
                border: none

@media (max-width: 903px)
    .logoMin
        display: none
